<!DOCTYPE html>
<html lang="en">
<%- include('./layout/head');%>
<body>
        <%- include('./layout/header');%>
    <main>
        <h2>All Todos</h2>
        <p><a href="add">Add a task</a></p>
        <ul>
            <% allTasks.forEach( task => { %>
                <li>Task id: <%= task.id %> Task Name: <%= task.task %> </li>
                <button><a href="/task/<%= task.id %>">View Details</a></button>
           <% }); %>
        </ul>
        
    </main>
    <%- include('./layout/footer');%>
</body>
</html>